BOT_TOKEN=7721681605:
LOG_GROUP_ID=-1002360781908
MONGO_DB_URI=mongodb+srv://Sezar:/?retryWrites=true&w=majority&appName=Cluster0
OWNER_ID=7447500710
STRING_SESSION=BAFav-MAg5PKnoR5HlDD7MVI2rcPR4s4zpyf_WKwXzulBHWjpeKAUsdMHD7sMpXOFC86OyAqUeTVwOsJDzPVGyLvFHsqHM8db46dBnhaesv_fI2haoN3VuD6-ycKQsypMZucuAeq1zXeevIJXK0m4nLV9kNfv4ZxQOECVunoY3ccwj2F1u8L8grXMQlDXgEOcNb2tGGL8AwZa67ngAAAAHGDh3iAA
SUPPORT_CHANNEL=https://t.me/atesbocegibioo
SUPPORT_GROUP=https://t.me/DumanMuzikGr
START_IMG_URL=https://t.me/Dumancchannel/9
PING_IMG_URL=https://t.me/Dumancchannel/9
STATS_IMG_URL=https://t.me/Dumancchannel/9
